.container {
    flex-direction: column;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
}

.customMarquee {
    width: 50%;
    height: 80px;
    padding: 10px;
    margin-top: 50px;
    border-width: 2px;
    border-color: #ffffff;
    border-radius: 20px;
    font-size: 30px;
}

.button {
    font-size: 30px;
    text-align: center;
    text-overflow: clip;
    width: 40%;
    height: 15%;
    margin-top: 5%;
    background-color: blueviolet;
    border-radius: 30px;
    color: azure;
}